.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 30px;
}

.intro__left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__name {
  font-style: 60px;
}

.intro__left-wrapper {
  padding: 50px;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__title {
  font-style: 60px;
  font-weight: 300;
}

.intro__items {
  height: 50px;
  overflow: hidden;
  margin: 10px;
}

.intro__items-wrapper {
  height: 100%;
  -webkit-animation: move 10s ease-in-out infinite alternate;
          animation: move 10s ease-in-out infinite alternate;
}

@-webkit-keyframes move {
  25% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  50% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  75% {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  100% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
}

@keyframes move {
  25% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  50% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  75% {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  100% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
}

.intro__item {
  height: 50px;
  font-style: 30px;
  font-weight: bold;
  color: #59b256;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__scroll {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 20px;
}

@media screen and (max-width: 560px) {
  .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro__left-wrapper {
    padding: 10px;
    height: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .intro__name {
    margin-top: 50px;
  }
  .intro__descr {
    display: none;
  }
  .intro__items {
    font-size: 50px;
  }
}