*{
    margin: 0;
}

.intro {
    display: flex;
    height: 100vh;
    font-size: 30px;
    &__left {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__name{
        font-style: 60px;
    }
    &__left-wrapper {
        padding: 50px;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title{
        font-style: 60px;
        font-weight: 300;
    }
    
    &__items {
        height: 50px;
        overflow: hidden;
    }

    &__items-wrapper {
        height: 100%;
        animation: move 10s ease-in-out infinite alternate;
    }

    @keyframes move {
        25% {
            transform: translateY(-50px);
        }

        50% {
            transform: translateY(-100px);
        }

        75% {
            transform: translateY(-150px);
        }

        100% {
            transform: translateY(-200px);
        }
    }

    &__item {
        height: 50px;
        font-style: 30px;
        font-weight: bold;
        color: #59b256;
        display: flex;
        align-items: center;
    }

    &__scroll{
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: 20px;
    }

    &__right {
        flex: 1;
        position: relative;
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }
    &__bg{
        clip-path: polygon(100% 0%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
        background-color: #59b256;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }

}