*{
    margin: 0;
}
.project{
    margin: 10px 20px;
    width: 25vw;
    height: 30vh;
    overflow: hidden;
    flex: 1 0 21%;
    border: 3px solid black;
    border-radius: 20px 20px 0 0;
    &__browser{
        position: sticky;
        height: 30px;
        background-color: rgb(234, 236, 238);

    }
}
